body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: teal;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #687430;
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 15px 0 0;
}

.alert-info {
  width: 50%;
  text-align: center;
  margin: auto;
  color: teal;
  background-color: #EEEEEE;
  border-color: teal;
}

.btn-default {
  border-color: teal;
  color: teal;
}

.btn-default:hover {
  background-color: teal;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.content-section {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.content-wrapper {
  /*min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  overflow: hidden;
  position: absolute;*/
  margin: 20px;
  overflow: hidden;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color: red;*/
  /*color: white;*/
  text-align: center;
}

.outer-table {
  display: table;
  height: 80%;
  width: 100%;
  position: absolute;
}

.middle-table {
  display: table-cell;
  vertical-align: middle;
}

.inner-table {
  margin-left: auto;
  margin-right: auto;
}

.home-description{
  margin-top: 50%;
}