{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table>
        <tbody class="border">
            <td>
                <tr>Hello</tr>
                <tr>Hello Again</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
            </td>
            <td>
                <tr>Table 4</tr>
                <tr>Hello Again</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
            </td>
            <td>
                <tr>Table 3</tr>
                <tr>Hello Again</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
                <tr>This is a table</tr>
            </td>
        </tbody>
    </table>
</div>
    

{% endblock %}