{% extends 'base.html' %}

{% block content %}

  <div class="header-wrapper">
    <div class="header-overlay">
      <div class="container-fluid home">
        <div class="home-description">
          <!-- <img src="{{url_for('static', filename = 'img/county-map.svg')}}" alt="County Map" class="img-thumbnail map"> -->
          <h1>Know More About Your Government</h1>
          <hr>
          <h3>We believe you should know your leaders in the government. Get official county information now!</h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
