{% block styles %}
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/navbar.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/index.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
{% endblock %}
{% block body%}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">UGATUZI KENYA</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/api/documentation">API</a>
          </li>
          <li>
            <a href="{{url_for('main.find_regions')}}">Counties</a>
          </li>
          <li>
            <a class="navbar-brand topnav" href="{{url_for('main.find_constituencies')}}"></a>
          </li>
          <li>
            <a class="navbar-brand topnav" href="{{url_for('main.find_governors')}}">Governors</a>
          </li>
          <li>
            <a class="navbar-brand topnav" href="{{url_for('main.find_senators')}}">Senators</a>
          </li>
          <li>
            <a class="navbar-brand topnav" href="{{url_for('main.find_mcas')}}">MCAS</a>
          </li>
          <li>
            <a class="navbar-brand topnav" href="{{url_for('main.find_womenreps')}}">Women Reps</a>
          </li>
          <li>
            <a href="{{url_for('auth.register')}}">REGISTER</a>
          </li>
          <li>
            <a href="{{url_for('auth.login')}}">LOGIN</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
{% endblock %}
{% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
{% endblock %}
